:root {
    /* Fuentes */
    --font-family: 'Inter', sans-serif;

    /* Colores */
    --bg-color: #f9f9f9; /* Fondo claro */
    --text-color: #2c2c2c; /* Texto oscuro */
    --primary-color: #1202a8; /* Color principal */
    --hover-color: #110797; /* Color en hover */
    --border-color: #e0e0e0; /* Color de borde */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Sombra suave */

}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--text-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.equipo:hover {
    box-shadow: 0 6px 30px var(--shadow-color);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: var(--text-color);
    font-weight: 500;
}

input[type="number"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: #f3f4f6; /* Fondo de entrada */
    transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

input[type="number"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(98, 0, 238, 0.5);
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    width: 110%;
    font-size: 1em;
    font-weight: 600;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

#MR {
    margin-top: 20px;
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    color: var(--primary-color);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.contenedor-equipos {
    display: flex;
    justify-content: space-between; /* Espacio entre los equipos */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor */
}

.TribuNegra, .TribuRoja {
    flex: 1; /* Hace que ambos equipos ocupen espacio igual */
    margin: 0 50px; /* Espacio lateral entre equipos */
}

#puntosnegra{
    background-color: #000000;
}
#puntosroja{
    background-color: red;
}